<div class="container">
    <footer class="footer">
    <div class="footer__block">
        <div class="footer__block_item">
            <ul class="footer__list">
                <li><a href="">CONTACT</a></li>
                <li><a href="">TERMS OF SERVICES</a></li>
                <li><a href="">SHIPPING AND RETURNS</a></li>
            </ul>
            <div class="footer__block__email">
                <input type="email" placeholder="Give an email, get the newsletter." class="footer__input__email">
                <a href="">→</a>
            </div>
       </div>
    </div>
    <div class="footer__block">
        <div class="footer__block_item2">
            <div class="footer__block_txt">
                <p class="footer__block_info">© 2021 Shelly. Terms of use and privacy policy.</p>
            </div>
        <div class="footer__block_social">
            <img src="assets/images/footer/social/In.png" alt="in">
            <img src="assets/images/footer/social/facebook.png" alt="facebook">
            <img src="assets/images/footer/social/instagram.png" alt="instagram">
            <img src="assets/images/footer/social/tweter.png" alt="tweter">
        </div>  
    </div>
    </div>
</footer>
</div>